<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="dashbord for worm-neural"
    />
    <title>Neural-Dash</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div class="center2" id="header">
      <h1 class="text-center">Servers</h1>
      <div>
        <form action='/dashboard' method="post" class="d-flex flex-column">
          {% for id in instances %}
            {% if (instances[id]['state'] == "stopped" or instances[id]['state'] == "stopping")  %}
              {% set state_class = "stop-color" %}
              {% set button_name = "Start" %}
            {% else %}
              {% set state_class = "start-color" %}
              {% set button_name = "Stop" %}
            {% endif %}
            <div class="mt-2">
              <button type="submit" class="btn btn-primary" name="instance_id" value="{{id}}"> 
                {{ button_name }}
              </button>
              <span class="ms-3">
                Current state: <span class="{{ state_class }}">{{ instances[id]['state'] }}</span>
                <a href="http://{{instances[id]['ip']}}">Connect: {{instances[id]['ip']}} </a>
              </span>
            </div>
          {% endfor %}
        </form>
      </div>
    </div>
    <div class="center">
      <form action="/dashboard" method="post" >
        <button type="submit" value="refresh" name="refresh" class="btn btn-info">Refresh</button>
      </form>
    </div>
  </body>
</html>
